<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="static/Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="static/Skeleton-2.0.4/css/skeleton.css">
  <link rel="stylesheet" href="static/Skeleton-2.0.4/css/custom.css">
</head>
<body>

<h1>Experimentor Panel</h1>

<form action="results" method="post">
  <label for="expkey">Experiment KEY:</label><br>
  <input type="text" id="expkey" name="expkey" pattern="^[a-zA-Z0-9_ ]*"><br>
  <input type="submit" value="Access Data" id="start">
</form> 

</body>
</html> 
