
<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Experiment</title>
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="static/Skeleton-2.0.4/css/normalize.css">
<link rel="stylesheet" href="static/Skeleton-2.0.4/css/skeleton.css">
<link rel="stylesheet" href="static/Skeleton-2.0.4/css/custom.css">
<script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.min.js"></script>
<script src="static/pegCell.js"></script>
<script src="static/pegBoard.js"></script>
<script language="javascript" type="text/javascript" src="static/swimmerSketch.js"></script>
<script language="javascript" type="text/javascript" src="static/swimmerPlayer.js"></script>
<script language="javascript" type="text/javascript" src="static/swimmerPipe.js"></script>
<script language="javascript" type="text/javascript" src="static/swimmerStar.js"></script>
<style>
.float-container {
    border: none;
    padding: 2px;
    display: flex;
}

.float-child {
    width: 50%;
    float: left;
    padding: 2px;
    border: 1px solid black;
} 
</style>
<body>

<script language="javascript" type="text/javascript">
var timeStart = Date.now();

function logdb(message) {
  let timeNow = Date.now();
  let timeSeconds =  (timeNow - timeStart)/ 1000;
  let data = {pid: 'Not Set', time: timeSeconds, logLine: message};

  fetch("/log", {
    method: "POST",
    headers: {'Content-Type': 'application/json'}, 
    body: JSON.stringify(data)
    }).then(res => {
      //console.log("Request complete! response:", res);
  });
}

function playAudio(audio){
  return new Promise(res=>{
    audio.play()
    audio.onended = res
  });
}

async function playMusic(button){
  logdb("ExperimentComplete");
  button.value = "Experiment complete!";
  var music = new Audio('static/Alarm05.wav');
  await playAudio(music);
  window.location.href = "/thankyou";
}


function p5size(p, name) {
  let box = document.querySelector('#'+name);
  let size = box.offsetWidth;
  return size;
}

function p5setup(p, name) {
  let size = p5size(p, name);
  var canvas = p.createCanvas(size, size);
  canvas.parent(name);
  logdb(name+",start,"+size);
}

function p5resize(p, name) {
  let size = p5size(p, name);
  p.resizeCanvas(size, size);
  logdb(name+",resize,"+size);
}

function p5inCanvas(p) {
  let inX = p.mouseX >= 0 && p.mouseX < p.width;
  let inY = p.mouseY >= 0 && p.mouseY < p.height;
  return inX && inY;
}

var pegBoardGame = new PegBoard();
var swimmer  = new Swimmer();

var PegBoardCanvas = function (p) {
  p.setup = function () { 
    p5setup(p, 'PegBoard'); 
    pegBoardGame.setup(p, logdb); 
  };

  p.windowResized = function () { 
    p5resize(p, 'PegBoard'); 
  };

  p.mousePressed = function () { 
    if (p5inCanvas(p)) {
      pegBoardGame.mousePressed(p); 
    }
  };

  p.mouseReleased = function () { 
    if (p5inCanvas(p)) {
      logdb("PegBoard,pressed,"+p.mouseX+","+p.mouseY);
      pegBoardGame.mouseReleased(p); 
    }
  };

  p.draw = function () {
    pegBoardGame.draw(p); 
  };
};

var GameCanvas = function (p) {
  p.setup = function () { 
    p5setup(p, 'Game'); 
    swimmer.setup(p);
  };

  p.windowResized = function () { 
    p5resize(p, 'Game'); 
  };

  p.mousePressed = function () { 
    if (p5inCanvas(p)) {
      swimmer.mousePressed(p);
    }
  };

  p.mouseReleased = function () { 
    if (p5inCanvas(p)) {
      logdb("Game,pressed,"+p.mouseX+","+p.mouseY);
      swimmer.mouseReleased(p); 
    }
  };

  p.draw = function () {
    swimmer.draw(p);
  };
};

new p5(PegBoardCanvas);
new p5(GameCanvas);
</script>

<input type="button" value="Click here when finished!" 
  style="background-color:#ffd179;" onclick="playMusic(this)"/>
<div class="float-container">
  <div class="float-child"> <div id="PegBoard"></div></div>
  <div class="float-child"> <div id="Game"></div></div>
</div>
</body>
</html>
